p
{
    font-size: 40px;
    font-weight: 700;
    color: rgb(136, 23, 23);
    font-family: 'Passion One', cursive;
    animation-name: changeColor;
    animation-direction:  alternate;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes changeColor{
    0%{
        color: red;
    }
    100%{
        color: green;
    }
}