.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: Candara;
  }
  .zdjecie {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 50px;
    margin: 0px;    
    border-right: 2px solid black;
    grid-column: 1;
    grid-row: 1 / 11;
  }
  .naglowek {
    color: rgb(1, 102, 102);
    font-size: 20px;    
    width: auto;   
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px;
    text-align: left;
    text-size-adjust: 40 px;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  .podsumowanie {
    width: auto;  
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px;
    text-align: left;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .doswiadczenie {
    width: auto;  
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px;
    text-align: left;  
    font-size: 20px;
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .d1 {
    padding: 10px;
    margin: 0px;
    text-align: left;  
    font-size: 15px;
    grid-column: 2;
    grid-row: 4;
  }
  .d2 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 3;
    grid-row: 4;
  }
  .d3 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 2;
    grid-row: 5;
  }
  .d4 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 3;
    grid-row: 5;
  }
  .wyksztalcenie {
    width: auto;  
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px;
    font-size: 20px;
    text-align: left;
    grid-column: 2 / 4;
    grid-row: 6 ;
  }
  .w1 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 2;
    grid-row: 7;
  }
  .w2 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 3;
    grid-row: 7;
  }
  .w3 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 2;
    grid-row: 8;
  }
  .w4 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 3;
    grid-row: 8;
  }
  .umiejetnosci {
    width: auto;  
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 20px;
    grid-column: 2 / 4;
    grid-row: 9;
  }
  .u1 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 2;
    grid-row: 10;
  }
  .u2 {
    padding: 10px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    grid-column: 3;
    grid-row: 10;
  }