body {
    background: white;
    margin: 0;
  }
.wrapper {
    display: grid;
    grid-gap: 10px;
    padding: 2px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    text-decoration: none;
}
.pierwszy {
    border: 10px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    justify-content: flex-end;
    word-spacing: 30px;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 7px;
}
.gmail, .grafika{
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-content: center;
    width: 10%;
}
.button1{
    text-decoration: none;
    display: inline-block;
    margin-left: 8px;
    color: #fff;
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 8px;
    margin-left: 20px;
    margin-right: 7px;
    margin-top: 2px;
    min-width: 80px;
    padding: 13px 24px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}
.button2, .button3{
    display: inline-block;
    margin-left: 8px;
    color: white;
    background: #e9eeee;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 8px;
    margin-right: 8px;
    min-width: 80px;
    padding: 6px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}
.drugi {
    display: flex;
    grid-row: auto;    
    align-items: center;
    justify-content: center;
    align-content: flex-end;
}
.wpis{    
    border-radius: 4px;
}
.trzeci {
    grid-row: auto;    
}
.czwarty {
    grid-row: auto;    
}
.piąty {
    grid-row: auto;    
}