body {
    display: block;
    background: white;
}
.but {
    text-decoration: none;
    color: white;
    padding: none;
    margin: none;
    background: none;
    border: none;
}
.but2, .but3 {
    text-decoration: none;
    color: grey;
    padding: none;
    margin: none;
    background: none;
    border: none;
}
.wrapper {
    margin: 0;
    text-decoration: none;
    flex-direction: column;
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #222;
}
.zerowy{
    text-decoration: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    word-spacing: 30px;
}
.pierwszy {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    word-spacing: 30px;
    float: right;
}
.gmail, .grafika, .kropki{
    font-size: 13px;
    margin: 10px;
    color: #222;
    justify-content: flex-end;
    align-items: flex-end;
}
.mini_logo{
    display: none;
}
.button1{
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 8px;
    min-width: 80px;
    padding: 13px 24px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: flex-end;
}
.drugi{
    display: flex; 
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    min-height: 150px;
    max-height: 290px;
    height: calc(100% - 560px);
}
.logo{
    justify-content: flex-end;
    padding-left: 300px;
}
.trzeci{
    display: block;
    grid-template-rows: 50% 50%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    flex-direction: row;
    grid-row: auto;    
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    text-decoration: none;
}
.wyszukiwanie{
    display: flex;
    flex-direction: row;
    grid-row: auto;    
    align-items: center;
    justify-content: center;
    align-content: center;
}
.wpis{    
    outline: none;
    border: none;
    width: 450px;
    height: 40px;
    font-size: 20px;
}
.przyciski{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.button2, .button3{
    text-decoration: none;
    display: inline-block;
    margin: 8px;
    color: #222;
    background: #f8f8f8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    min-width: 80px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    align-content: center;
    padding: 8px 16px;
}
.czwarty, .eng{
    display: flex;
    grid-row: auto;    
    min-height: 220px;  
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    justify-content: center;
    align-content: center; 
}
.linia{
    display: none;
}
.piąty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
}
.kraj{
    padding: 13px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.text_charcoal{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    white-space: nowrap;
}
.text{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    padding-left: 0;
    white-space: nowrap;
}
.linki{
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
img.leaf{
    height: 14px;
    margin-right: 3px;
}
.linki2{
    display: none;
}
.pasek1{
    order: 1;
    width: 30%;
    justify-content: center;
    text-align: left;
}
.wyszukiwanie_01{
    display: none;
}
.pasek2{
    order: 2;
    text-align: center;
    min-width: 30%;
}
.pasek3{
    order: 3;
    text-align: right;
    min-width: 30%;
}
.pierwszy_01{
    display: none;
}
.tresc{
    display: none;
}