.results {
    display: grid;
    background: white;
    text-decoration: none;
  }
.results .wrapper {
    display: flex;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #222;
}
.results .wyszukiwanie_01, .results .mini_logo{
    justify-content: left;
    display: flex;
    flex-direction: row;
    grid-row: auto;    
    align-items: center;
    justify-content: center;
    align-content: center;
}
.results .wpis_01{   
    justify-content: left;; 
    outline: none;
    border: none;
    width: 450px;
    height: 40px;
    font-size: 20px;
}
.results .zerowy{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    word-spacing: 30px;
}
.results .pierwszy{
    padding-left: 37%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    word-spacing: 30px;
}
.results .pierwszy_01{
    padding-left: 180px;
    grid-column: 2;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    word-spacing: 10px;
}
.results .gmail, .results .grafika{
    display: none;
}
.results .linia{
    width:100%;
    text-align:left;
    margin-left:0;
    color: lightgrey;
}
.results .kropki{    
    font-size: 13px;
    margin: 10px;
    color: #222;
}
.results .button1{
    grid-column: 4;
    text-decoration: none;
    display: inline-block;
    color: white;
    background: #1a73e8;
    border: 1px solid transparent;
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 8px;
    min-width: 80px;
    padding: 13px 24px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}
.results .drugi{
    display: none;
}
.results .trzeci {
    display: none;
}
.results .wyszukiwanie{
    display: none;
}
.results .wpis{    
    display: none;
}
.results .przyciski{
    display: none;
}
.results .button2, .results .button3{
    display: none;
}
.results .czwarty, .results .eng{
    display: none;
}
.results .piąty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f2f2f2;
}
.results .kraj{
    padding: 13px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}
.results .text_charcoal{
    display: none;
}
.results .text{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #70757a;
    display: inline-block;
    padding: 13px;
    padding-left: 0;
    white-space: nowrap;
}
.results .linki{
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.results .img.leaf{
    display: none;
}
.results .pasek1{
    display: none;
}
.results .pasek2{
    display: none;
}
.results .pasek3{
    display: none;
}
.results .but2 .but3 .but{
    display: none;
}
.results .linki2{    
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.results .pasek4{
    order: 1;
    width: 30%;
    justify-content: center;
    text-align: left;
}
.results .tresc{
    grid-column: 1;
    grid-row: 4;
    margin: 10px 180px 0 180px;
    display: flex;
    flex-direction: column;
}
.results .wynik{
    margin-bottom: 30px;
}
.results .naglowek .hiperlacze{
    display: flex;
    flex-direction: column;
}
.results .hiperlacze .skrot{
    font-size: 14px;
    line-height: 1.3;
    color: #292a2c;
}
.results .hiperlacze .rodzaj{
    color: #62676d;
    font-size: 14px;
}
.results .hiperlacze a{
    font-size: 20px;
    line-height: 1.3;
    color: #1a0ea1;
    padding: 4px 0 4px 0;
    width: fit-content;
}
.results .tresc .streszczenie .opis{
    line-height: 1.58;
    color: #4d5053;
    text-align: left;
    font-size: 14px;
}